.new-incident-logo{
    width: 80%;
    margin-bottom: 20px;
}

.new-incident-container {
    width: 100%;

    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #545454;




  }

  .new-incident-container .content {
    width: 100%;
    max-width: 880px;
    padding: 16px 56px;
    background: #baefbe;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

  }
  
  .new-incident-container .content section {
    width: 100%;
    max-width: 380px;
    margin-right: 18px;
  }
  
  .new-incident-container .content section h1 {
    font-size: 32px;
    margin-bottom: 16px;
    color: #545454;
  }
  
  .new-incident-container .content section p {
    font-size: 14px;
    color: #737373;
    line-height: 16px;

    margin-bottom: 100px;
  }
  
  .new-incident-container .content form {
    width: 100%;
    max-width: 450px;
  }
